.container {
  max-width: 80rem;
  margin: 0 auto;

  color: var(--white);

  padding-top: 8rem;
  margin-bottom: 3rem;
}

.textContainer {
  text-align: center;

  font-size: 2.6rem;

  margin-bottom: 4rem;
  color: var(--text);
}

.swiperText img {
  height: 1rem;
}

@media screen and (max-width: 768px) {
  .textContainer h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 440px) {
    .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        overflow: hidden;
    }

    .container h2 {
        font-size: 2rem;
    }
}
