.containerGlobal {
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 6, 15, 1) 100%
    ),
    linear-gradient(to left, rgba(0, 0, 0, 0.1) 50%, rgba(0, 6, 15, 1) 100%),
    url("../public/fotoTeste5.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;

  border-top-left-radius: 50% 20px;
  border-top-right-radius: 50% 20px;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--white);
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.5rem;
}

.container > div {
  margin-bottom: 1rem; /* Espaçamento entre os elementos */
}

.container button:first-child {
  background-color: var(--button-color);
}

.container div:nth-child(2) {
  font-size: 1.6rem;
  padding-bottom: 2rem;
  max-width: 40rem;
}

.container span {
  color: var(--orange);
}

.textArea h2 {
  font-size: 2.5rem;
}

.cardText {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 3rem;
  gap: 2rem;
}

.cardText div{
  background-color: var(--orange);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardText h3 {
  font-size: 1.5rem;
}

.cardText p {
  font-size: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.links a {
  text-decoration: none;
  color: var(--white);

  background-color: var(--button-color);
  padding: 0.6rem 1rem;
  border-radius: 8px;

  transition: background-color 0.2s;
}

.links a:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}

.links a:visited {
  text-decoration: none;
  color: var(--white);
}

.linksMobile {
  display: none;
}

.formContainer {
  background-color: var(--white);
  max-width: 25rem;

  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 60px rgba(233, 115, 5, 1); */
  text-align: center;

  box-shadow: 0px 0px 60px var(--orange);
}

.formContainer h1 {
  font-size: 1.2rem;
  color: var(--orange);
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
  width: 3  0rem;
}

input,
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input:focus,
select:focus {
  border-color: var(--orange);
  outline: none;
}

button {
  padding: 10px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 0.4s, letter-spacing 0.4s;
}

button:hover {
  background-color: var(--button-color-hover);
  letter-spacing: 0.2rem;
}

/* hero.module.css */

.overlay {
  position: fixed; /* Fica fixo na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Cor preta semi-transparente */
  backdrop-filter: blur(5px); /* Desfoque da área atrás do modal */
  z-index: 999; /* Certifique-se de que a camada fique acima do conteúdo da página */
}

.containerGlobal {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Certifique-se de que o modal esteja na frente */
}

.modalContent {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 6, 15, 1) 100%
    ),
    linear-gradient(to left, rgba(0, 0, 0, 0.1) 50%, rgba(0, 6, 15, 1) 100%),
    url("../public/fotoTeste2.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 5px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  padding-right: 10rem;
}

.modalContent img {
  position: relative;
  top: 70px;
  right: 100px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.textModal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

.textModal span {
  font-size: 1.2rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 5rem;
}

.links a {
  box-shadow: initial;
  box-shadow: 0px 0px 40px var(--orange);

  font-size: 1.6rem;

  text-align: center;
  text-decoration: none;
  color: var(--white);

  background-color: var(--button-color);
  padding: 0.6rem 1rem;
  border-radius: 8px;

  transition: background-color 0.2s, transform 0.8s, letter-spacing 0.8s;
}

.links a:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
  transform: scale(1.1);
  letter-spacing: 0.3rem;
}

.links a:visited {
  text-decoration: none;
  color: var(--white);
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 90%;
  }

}

@media screen and (max-width: 768px) {
  .container {
    padding: 2rem 0;
    overflow: hidden;
  }

  .container div:nth-child(2) {
    margin-top: 3rem;
    font-size: 1rem;
  }

  .textArea h2 {
    text-align: center;
  }

  .container div:nth-child(2) p {
    margin: 0 auto;
    margin-top: 2rem;
  }

  .links {
    flex-direction: column;
  }

  .arrow:hover {
    margin-top: 4rem;
  }

  .box {
    flex-direction: column;
    gap: 3rem;
  }

  .box img {
    height: 4.5rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .box:first-child div {
    max-width: 95%;
    margin: 0 auto;
    margin-left: 0;
    margin-left: 3%;
  }

  .formContainer {
    width: 70% !important;
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-left: 10% !important;
    box-shadow: 0px 0px 20px  var(--orange);
  }

  .formContainer form {
    width: 100%;
  }


  .linksMobile {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    max-width: 20rem;
  }

  .linksMobile a {
    text-decoration: none;
    color: var(--white);

    background-color: var(--button-color);
    padding: 0.6rem 1rem;
    border-radius: 8px;

    transition: background-color 0.2s;
  }

  .linksMobile a:hover {
    background-color: var(--button-color-hover);
    cursor: pointer;
  }

  .linksMobile a:visited {
    text-decoration: none;
    color: var(--white);
  }

  .linksMobile a:last-child {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .modalContent {
    flex-direction: column;
    left: 12%;
  }

  .modalContent img {
    width: 400px;
    margin: 0 auto;
    left: 16%;
    top: 0;
  }

  .textModal{
    position: relative;
    left: 17%;
    font-size: 1rem;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 80%;
    margin-top: 0rem;
    margin: 0 auto;
  }

  .links a:hover{
    letter-spacing: .015rem;
  }
  
  .textArea {
    width: 90%;
  }

  .textArea h2 {
    font-size: 1.5rem;
  }

  .cardText {
    width: 90%;
  }
}

@media screen and (max-width: 360px) {  
 
  .box {
    flex-direction: column;
    gap: 3rem;
  }

  .box img {
    height: 4.5rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .box:first-child div {
    max-width: 95%;
    margin: 0 auto;
    margin-left: 2.1%;
  }

  .formContainer {
    width: 70% !important;
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-left: 7.1% !important;
  }

  .formContainer form {
    width: 100%;
  }

  .cardText {
    width: 90%;
  }
}