.box {
  background-color: var(--bg);
  border-top-left-radius: 50% 20px;
  border-top-right-radius: 50% 20px;

  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 8rem;
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.6rem;
  text-align: center;
  color: var(--white);
}

.title span {
  font-size: 3.5rem;
  color: var(--text);
}

.cards {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}

.cards div {
  width: 24%;
  border: 1px solid var(--text);
  padding: 1rem;
  border-radius: 0.5rem;
}

.cards div h3 {
  color: var(--text);
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}

.cards div p {
  color: var(--white);
  text-align: center;
}

.button{
    display: flex;
    justify-content: center;
}

.button button {
  width: 35%;
  margin: 0 auto;
  margin-top: 3rem;

  padding: 1rem 4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--button);
  transition: all;
  transition-duration: 0.2s;
}

button p {
  font-size: 1rem;
  color: var(--white);
}

button:hover {
  background-color: var(--button-hover);
  letter-spacing: 0.1rem;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 90%;
  }

}

@media (max-width: 440px) {
  .wrapper{
    max-width: 85%;
    padding: 4rem 0;
  }

  .title h2 {
    font-size: 2rem;
  }

  .cards {
    flex-direction: column;
  }

  .cards div {
    width: 90%;
  }

  .button button {
    width: 100%;
  }
}