:root{
    --bg: #0A182B;
    --text: #FA6103;
    --white: #fff;

    --button: #FA6103;
    --button-hover: #FA7603;

    --bg-color1: rgb(0, 6, 15);
    --bg-color: #051427;
    --bg-color-card: #153764;
    --white: #fff;
    --orange: #ff7205;
    
    --button-color: #FF7205;
    --button-color-hover: #fd8123;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}